@font-face {
   font-family: 'Quick Sand';
   src: url('../assets/font-family/Quicksand-Medium.ttf') format('truetype'),
      url('../assets/font-family/Quicksand-Medium.woff') format('woff'),
      url('../assets/font-family/Quicksand-Medium.woff2') format('woff2');
   font-weight: 500;
}
@font-face {
   font-family: 'Quick Sand';
   src: url('../assets/font-family/Quicksand-Bold.ttf') format('truetype'),
      url('../assets/font-family/Quicksand-Bold.woff') format('woff'),
      url('../assets/font-family/Quicksand-Bold.woff2') format('woff2');
   font-weight: 700;
}
:root {
   --dark-light-bg: #353b50;
   --dark-bg: #2b2e44;
   --warn: #fe9f39;
   --error: #f94748;
   --secondary-bg: #866ce4;
   --input-bg: #3f4450;
   --app-font-family: 'Quick Sand', sans-serif;
   --app-font-color: rgba(255, 255, 255, 0.7);
   --aside-width: 340px;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-weight: 500;
   line-height: 1.6;
   color: var(--app-font-color);
   background: var(--dark-bg);
}
.icon-container {
   svg {
      width: 20px;
      height: 20px;
      stroke-width: 2;
   }
}

.active-user-item {
   display: grid;
   grid-template-columns: auto 1fr 60px;
   grid-template-rows: repeat(2, 1fr);
   align-items: center;
   grid-gap: 0 10px;
   .image {
      grid-row: 1 / -1;
   }
   .user-message {
      grid-column: 2/3;
   }
   .time {
      grid-column: 3;
      grid-row: 1/ -1;
   }
}

.dot-green {
   background: #12e5e5;
   border: 1px solid #fff;
}
.bookmark-icon {
}

.dark-light-bg {
   background: var(--dark-light-bg);
}
.dark-bg {
   background: var(--dark-bg);
}

.secondary-bg {
   background: var(--secondary-bg);
}

.border-primary-1 {
   border: 1px solid var(--secondary-bg);
}
.border-primary-2 {
   border: 2px solid var(--secondary-bg);
}

.input-focus {
   &:focus {
      outline: 1px solid #2c5282;
   }
}